.App {
  text-align: center;
  margin: 20px;
}

textarea {
  width: 80%;
  height: 100px;
}

button {
  margin-top: 10px;
}

.response {
  margin-top: 20px;
  text-align: left;
}

select {
  width: 200px;
  height: 100px;
}